<a id="trigger" href="#"><img class="thumbpic darken shadow" src="/images/ThumbsUp.jpg"/></a>
<!-- <a id="printbutt" href="javascript:window.print()"><img class="printbutt darken shadow" src="/images/printbutton.png"/></a> -->
<a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly printbutt" onclick="window.print();return false;" title="Printer Friendly and PDF"><img src="/images/printbutton.png" alt="Print Friendly and PDF"/></a>
  <div id="divDisplayButtons" class="shadow">

  <table class="surveykeys">
    <tr>
      <td><img id="up" class="arrow darken shadow" src="/images/arrowup.jpg"/></td>
    </tr>
    <tr>
      <td>
        <form class="surveytoot">
        <input id="surveycash" type="text" value=""></input>
        <input id="surveyvalue" step=".5" type="number" value="2"></input>
        <input id="surveyperc" type="text" value=""></input>
        <br>
        </form>
      </td>
    </tr>
    <tr>
      <td><img id="down" class="arrow darken shadow" src="/images/arrowdown.jpg"/></td>
    </tr>
  </table>

  </div>
<img id="divDisplaysignbase" class="shadow" src="/images/signbase.jpg"></img>
