<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
      <form action="/Survey2" name="survey">
        <table>
          <thead></thead>
          <tbody>
            <tr>
              <td id="gc1" class="surveytext">How many people will vacation together?</td>
              <td id="survey1" class="surveytext newClass setwidth"></td>
            </tr>

            <tr>
              <td id="gc2" class="surveytext newClass">What will a hotel generally cost per night?</td>
              <td id="survey2"class="surveytext newClass setwidth"></td>
            </tr>

            <tr>
              <td id="gc3" class="surveytext newClass">How many days do you vacation in a year?</td>
              <td id="survey3"  class="surveytext newClass setwidth"></td>
            </tr>

            <tr>
              <td id="gc4" class="surveytext newClass">How many years do you plan on vacationing?</td>
              <td id="survey4"  class="surveytext newClass setwidth"></td>
            </tr>

            <tr>
              <td id="gc5" class="surveytext newClass">What do you think inflation will be over 10 years?</td>
              <td id="survey5" class="surveytext newClass setwidth"></td>
            </tr>

            <tr>
              <td></td>
              <td id="answers" style="text-align: right;" class="surveytext newClass">---------</td>
            </tr>

            <tr>
              <td id="surveydesc" class="surveytext newClass">Total Cost of Vacationing for the next 10 years:</td>
              <td id="survey6" class="surveytext newClass"></td>
            </tr>
            <input class="permhidden" type="submit">
          </tbody>
      </table>
    </form>
    <a id="trigger" href="#"><img class="thumbpic darken" src="/images/ThumbsUp.jpg"></a>
    <table class="surveykeys">
      <tr>
        <td><img id="up" class="arrow" src="/images/arrowup.jpg"></td>
      </tr>
      <tr>
        <td>
          <form>
            <input id="surveyvalue" step=".5" type="number" value="2"><br>
          </form>
        </td>
      </tr>
      <tr>
        <td><img id="down" class="arrow" src="/images/arrowdown.jpg"></td>
      </tr>
    </table>
  </div>
</div>

<% block('localScripts', '<script src="/page_js/survey.js"></script>') %>
