<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
      <form>
        <div id="gc1">
          How many people will vacation together?
          <input class="form-control" type="number" name="peoplevaca" min="0" max="100" step="1" value="2"><br>
        </div>
        <div id="gc2" class="newClass">
          What will a hotel generally cost per night?
          <input type="number" name="hotelcost" min="0" step="5" value="200"><br>
        </div>
        <div id="gc3" class="newClass">
          How many days do you vacation in a year?
          <input type="number" name="daysvaca" min="0" max="365" step="1" value="7"><br>
        </div>
        <div id="gc4" class="newClass">
          How many years do you plan on vacationing?
          <input type="number" name="yearsvaca" min="0" max="100" step="5" value="10"><br>
        </div>
        <div id="gc5" class="newClass">
          What do you think the inflation will be for the next 10 years?
          <input type="number" name="inflation" min="0" max="25" step=".5" value="3"><br>
        </div>
      </form>
      <a id="trigger"><img class="thumbpic" src="/images/ThumbsUp.jpg"></a>
    </div>
  </div>
