<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
      <table>
        <tr>
          <td id="gc1" class="surveytext">How many people will vacation together?</td>
        </tr>
        <tr>
          <td id="gc2" class="surveytext newClass">What will a hotel generally cost per night?</td>
        </tr>
        <tr>
          <td id="gc3" class="surveytext newClass">How many days do you vacation in a year?</td>
        </tr>
        <tr>
          <td id="gc4" class="surveytext newClass">How many years do you plan on vacationing?</td>
        </tr>
        <tr>
          <td id="gc5" class="surveytext newClass">What do you think the inflation will be for the next 10 years?</td>
        </tr>
      </table>
      <a id="trigger"><img class="thumbpic darken" src="/images/ThumbsUp.jpg"></a>
      <table class="surveykeys">
        <tr>
          <td><img id="up" class="arrow" src="/images/arrowup.jpg"></td>
        </tr>
        <tr>
          <td>
            <form>
              <input id="surveyvalue" step=".5" type="number" value="2"><br>
            </form>
          </td>
        </tr>
        <tr>
          <td><img id="down" class="arrow" src="/images/arrowdown.jpg"></td>
        </tr>
      </table>
    </div>
  </div>
