<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
      <table>
        <tr>
          <td>How many people will vacation together?</td>
          <td id="survey1"></td>
        </tr>
        <tr>
          <td>What will a hotel generally cost per night?</td>
          <td id="survey2"></td>
        </tr>
        <tr>
          <td>How many days do you vacation in a year?</td>
          <td id="survey3"></td>
        </tr>
        <tr>
          <td>How many years do you plan on vacationing?</td>
          <td id="survey4"></td>
        </tr>
        <tr>
          <td>What do you think the inflation will be for the next 10 years?</td>
          <td id="survey5"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
