<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
      <table class="surveytext">
        <tr>
          <td>How many people will vacation together?</td>
          <td id="survey1"></td>
        </tr>
        <tr>
          <td>What will a hotel generally cost per night?</td>
          <td id="survey2"></td>
        </tr>
        <tr>
          <td>How many days do you vacation in a year?</td>
          <td id="survey3"></td>
        </tr>
        <tr>
          <td>How many years do you plan on vacationing?</td>
          <td id="survey4"></td>
        </tr>
        <tr>
          <td>What will inflation be in the next 10 years?</td>
          <td id="survey5"></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: right;">----------</td>
        </tr>
        <tr>
          <td id="surveydesc"></td>
          <td id="survey6"></td>
        </tr>
      </table>
      <a id="printbutton" href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF">
        <img style="border:none;-webkit-box-shadow:none;box-shadow:none;" src="http://cdn.printfriendly.com/pf-button-big.gif" alt="Print Friendly and PDF"/>
      </a>
    </div>
  </div>
</div>
<script language="JavaScript">

	function addComment()
	{
		var parameters = location.search.substring(1).split("&");

		var temp = parameters[0].split("=");
		q1 = parseInt(unescape(temp[1]));
		temp = parameters[1].split("=");
		q2 = parseInt(unescape(temp[1]));
    temp = parameters[2].split("=");
    q3 = parseInt(unescape(temp[1]));
    temp = parameters[3].split("=");
		q4 = parseInt(unescape(temp[1]));
    temp = parameters[4].split("=");
    q5 = parseInt(unescape(temp[1]));

		document.getElementById("survey1").innerHTML = q1;
		document.getElementById("survey2").innerHTML = q2;
    document.getElementById("survey3").innerHTML = q3;
    document.getElementById("survey4").innerHTML = q4;
    document.getElementById("survey5").innerHTML = q5;
    document.getElementById("survey6").innerHTML = parseFloat(Math.ceil(q1/2)*q2*q3*(Math.pow(1+(.01*q5),q4)-1)/(.01*q5)).toFixed(2);
    document.getElementById("surveydesc").innerHTML = 'Total Cost of Vacationing for the next ' + String(q4) + ' years:'
	}
addComment();

</script>
<script>
var pfHeaderImgUrl = '';
var pfHeaderTagline = '';
var pfdisableClickToDel = 0;
var pfHideImages = 0;
var pfImageDisplayStyle = 'right';
var pfDisablePDF = 0;
var pfDisableEmail = 0;
var pfDisablePrint = 0;
var pfCustomCSS = '';
var pfBtVersion='1';

(function(){
  var js, pf;pf = document.createElement('script');
  pf.type = 'text/javascript';
  if ('https:' === document.location.protocol){
    js='https://pf-cdn.printfriendly.com/ssl/main.js'
  }
  else{
    js='http://cdn.printfriendly.com/printfriendly.js'
  }
  pf.src=js;
  document.getElementsByTagName('head')[0].appendChild(pf)
})();
</script>
