<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
    <div id="divExpressWeek" class="content-pane">
      <input type="hidden" id="totstars" value="1" />
      <input type="hidden" id="location" />
      <input type="hidden" id="totescost" />
      <input type="hidden" id="vacas" />
      <h1>Star Credits</h1>
      <a href="#" id="btnBack"><img src="/images/back-small.png" /></a>
      <div id="starloc">
        <div class="starremaining">Stars Remaining</div>
        <div class="starright">
          <img id="starz1" class="starpowa" src="/images/fullstar.jpg">
          <img id="starz2" class="starpowa" src="/images/fullstar.jpg">
          <img id="starz3" class="starpowa" src="/images/fullstar.jpg">
          <img id="starz4" class="starpowa" src="/images/fullstar.jpg">
          <img id="starz5" class="starpowa" src="/images/fullstar.jpg">
          <img id="starz6" class="starpowa" src="/images/fullstar.jpg">
        </div>
      </div>

      <div id="divExpressSelection">
        <div id="destinationchoice" class="planning">
          <div class="planlink tilt express-destination" data-destination="Ireland">
              <a id="Ireland" href="#"><img class="darken" src="/images/polaroidireland1.jpg"></a>
          </div>
          <div class="planlink tilt express-destination" data-destination="Italy">
              <a id="Italy" href="#"><img class="darken" src="/images/polaroiditaly1.jpg"></a>
          </div>
          <div class="planlink tilt express-destination" data-destination="Fiji">
              <a id="Fiji" href="#"><img class="darken" src="/images/polaroidfiji1.jpg"></a>
          </div>
          <div class="planlink tilt express-destination" data-destination="Vegas">
              <a id="Vegas" href="#"><img class="darken" src="/images/polaroidvegas1.jpg"></a>
          </div>
          <div class="planpic tilt express-destination" data-destination="Orlando">
              <a id="Orlando" href="#"><img class="darken" src="/images/polaroidorlando1.jpg"></a>
          </div>
          <div class="planpic tilt express-destination" data-destination="Daytona">
              <a id="Daytona" href="#"><img class="darken" src="/images/polaroiddaytona1.jpg"></a>
          </div>
          <div class="planpic tilt express-destination" data-destination="MyrtleBeach">
              <a id="MyrtleBeach" href="#"><img class="darken" src="/images/polaroidmyrtlebeach1.jpg"></a>
          </div>
          <div class="planpic tilt express-destination" data-destination="GatlinBurg">
              <a id="GatlinBurg" href="#"><img class="darken" src="/images/polaroidgatlinburg1.jpg"></a>
          </div>
        </div>
      </div>

      <div id="reviewboxe">
        <div id="reviewpic">
          <h5>Vacation</h5>
          <h4><div id="vacalocation"></div></h4>
            <div id="rotating-item-wrapper" class="qpolfix">
             <img id="planpic1" class="rotating-item Q-pol shadow" src="/images/ireland1.jpg"/>
             <img id="planpic2" class="rotating-item Q-pol shadow" src="/images/ireland2.jpg"/>
             <img id="planpic3" class="rotating-item Q-pol shadow" src="/images/ireland3.jpg"/>
             <img id="planpic4" class="rotating-item Q-pol shadow" src="/images/ireland4.jpg"/>
             <img id="planpic5" class="rotating-item Q-pol shadow" src="/images/ireland5.jpg"/>
            </div>
        </div>

      <div id="reviewspecs" class"reviewowner">
        <h5>Credits & Fees</h5>
        <table>
          <tr>
            <td class="blacktext largetext">Processing Fee</td>
            <td class="blacktext largetext">$189 +</td>
            <td></td>
            <td><img class="starpowa" src="/images/fullstar.jpg"></td>
          </tr>
          <tr>
            <td class="orangemoney largetext">Add Bed Upgrade</td>
            <td class="orangemoney largetext">$189 =</td>
            <td></td>
            <td><img id="star2" class="starpowa" src="/images/emptystar.jpg"></td>
          </tr>
          <tr>
            <td class="orangemoney largetext">Non Continental Fee</td>
            <td class="orangemoney largetext">$275 =</td>
            <td></td>
            <td><img id="star3" class="starpowa" src="/images/emptystar.jpg"></td>
          </tr>
          <tr>
            <td class="orangemoney largetext">Peak Season Upgrade</td>
            <td class="orangemoney largetext">$275 =</td>
            <td></td>
            <td><img id="star4" class="starpowa" src="/images/emptystar.jpg"></td>
          </tr>
          <tr>
            <td class="expressline"></td>
            <td class="expressline"></td>
            <td class="expressline"></td>
            <td class="expressline"></td>
          </tr>
          <tr>
            <td></td>
            <td class="orangemoney largetext">$189 +</td>
            <td id="starcount" class="orangemoney largetext">1</td>
            <td id="startotals" class="orangemoney largetext">Star</td>
          </tr>
        </table>

      </div>
        <div id="reviewbook">
          <div class="bookington">
            <img class="bookimage" src="/images/baggage.jpg"></img>
            <h4 style="text-align: center;">Book Vacation!</h4>
          </div>
        </div>
      </div>


    <div id="reviewcongrats" class="deadClass">
      <h6>Enjoy <span id="congratsloca"></span>!</h6>
      <br>
      <h3>By Using <span id="moztars"></span>, you just planned a 7 day vacation in <span id="congratslocb"></span> for</h3>
      <br><br>
      <div class="dolladay">$ <span id="congratsprice"></span> per day!</div>
      <br>
      <h4><div id="mostars">You still have STARS! Go ahead, book another Vacation!</div></h4>
    </div>
    </div>
  </div>
</div>

<% block('localScripts', '<script src="/page_js/planning.js"></script>') %>
