<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
    <table>
      <tr>
        <td>
            <img class="planlink shadow" src="images/ireland/polaroidireland.jpg">
            <a href="Questionnare"><img class="planpic darken" src="images/ireland/ireland1.jpg"></a>
        </td>
        <td>
            <img class="planlink shadow" src="images/pr/polaroidpr.jpg">
            <a href="Questionnare"><img class="planpic darken" src="images/pr/pr1.jpg"></a>
        </td>
        <td>
            <img class="planlink shadow" src="images/fiji/polaroidfiji.jpg">
            <a href="Questionnare"><img class="planpic darken" src="images/fiji/fiji1.jpg"></a>
        </td>
        <td>
            <img class="planlink shadow" src="images/hawaii/polaroidhawaii.jpg">
            <a href="Questionnare"><img class="planpic darken" src="images/hawaii/hawaii1.jpg"></a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="planlink shadow" src="images/tokyo/polaroidtokyo.jpg">
          <a href="Questionnare"><img class="planpic darken" src="images/tokyo/tokyo1.jpg"></a>
        </td>
        <td>
            <img class="planlink shadow" src="images/italy/polaroiditaly.jpg">
            <a href="Questionnare"><img class="planpic darken" src="images/italy/italy1.jpg"></a>
        </td>
        <td>
            <img class="planlink shadow" src="images/rio/polaroidrio.jpg">
            <a href="Questionnare"><img class="planpic darken" src="images/rio/rio1.jpg"></a>
        </td>
        <td>
            <img class="planlink shadow" src="images/sydney/polaroidsydney.jpg">
            <a href="Questionnare"><img class="planpic darken" src="images/sydney/sydney1.jpg"></a>
        </td>
      </tr>
    </table>
  </div>
</div>
