<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
    <table>
      <tr>
        <td class="tilt">
            <img class="planlink shadow" src="/images/polaroidireland.jpg">
            <a href="Questionnare?loc=ireland&"><img class="planpic darken" src="/images/ireland1.jpg"></a>
        </td>
        <td class="tilt">
            <img class="planlink shadow" src="/images/polaroidpr.jpg">
            <a href="Questionnare?loc=pr&"><img class="planpic darken" src="/images/pr1.jpg"></a>
        </td>
        <td class="tilt">
            <img class="planlink shadow" src="/images/polaroidfiji.jpg">
            <a href="Questionnare?loc=fiji&"><img class="planpic darken" src="/images/fiji1.jpg"></a>
        </td>
        <td class="tilt">
            <img class="planlink shadow" src="/images/polaroidhawaii.jpg">
            <a href="Questionnare?loc=hawaii&"><img class="planpic darken" src="/images/hawaii1.jpg"></a>
        </td>
      </tr>
      <tr>
        <td class="tilt">
          <img class="planlink shadow" src="/images/polaroidTokyo.jpg">
          <a href="Questionnare?loc=tokyo&"><img class="planpic darken" src="/images/tokyo1.jpg"></a>
        </td>
        <td class="tilt">
            <img class="planlink shadow" src="/images/polaroidItaly.jpg">
            <a href="Questionnare?loc=italy&"><img class="planpic darken" src="/images/italy1.jpg"></a>
        </td>
        <td class="tilt">
            <img class="planlink shadow" src="/images/polaroidRio.jpg">
            <a href="Questionnare?loc=rio&"><img class="planpic darken" src="/images/rio1.jpg"></a>
        </td>
        <td class="tilt">
            <img class="planlink shadow" src="/images/polaroidSydney.jpg">
            <a href="Questionnare?loc=sydney&"><img class="planpic darken" src="/images/sydney1.jpg"></a>
        </td>
      </tr>
    </table>
  </div>
</div>
