<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
    <form class="Questionnare">
      <table>
        <tr>
          <td class="right-text">Would you like to upgrade to a 2-bed?</td>
          <td><input type='checkbox' name="2bed"></td>
        </tr>
        <tr>
          <td id="survey1"></td>
        </tr>
        <tr>
          <td class="right-text">3-bed?</td>
          <td><input type="checkbox" name="3bed"></td>
        </tr>
        <tr>
          <td class="right-text">Will you travel between March and August?</td>
          <td><input type="checkbox" name="peek"></td>
        </tr>
      </table>
    </form>
    <a id="printbutton" href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF">
      <img style="border:none;-webkit-box-shadow:none;box-shadow:none;" src="http://cdn.printfriendly.com/pf-button-big.gif" alt="Print Friendly and PDF"/>
    </a>

    <div id="rotating-item-wrapper" class="Q-img">
     <img id="planpic1" class="rotating-item shadow Q-img" src="images/ireland/p1.jpg"/>
     <img id="planpic2" class="rotating-item shadow Q-img" src="images/ireland/p2.jpg"/>
     <img id="planpic3" class="rotating-item shadow Q-img" src="images/ireland/p3.jpg"/>
     <img id="planpic4" class="rotating-item shadow Q-img" src="images/ireland/p4.jpg"/>
     <img id="planpic5" class="rotating-item shadow Q-img" src="images/ireland/p5.jpg"/>
     <div class="Q-text">Your Chosen Destination</div>
    </div>

      <a id="trigger"><img class="thumbpic darken shadowrotate" src="/images/ThumbsUp.jpg"></a>

    </div>
  </div>

  <script language="JavaScript">

  	function addComment()
  	{
  		var parameters = location.search.substring(1).split("&");

      var temp = parameters[0].split("=");
      q1 = unescape(temp[1]);
      temp = parameters[1].split("=");

  		document.getElementById("planpic1").src = "images/" + q1 + "1.jpg";
      document.getElementById("planpic2").src = "images/" + q1 + "2.jpg";
      document.getElementById("planpic3").src = "images/" + q1 + "3.jpg";
      document.getElementById("planpic4").src = "images/" + q1 + "4.jpg";
      document.getElementById("planpic5").src = "images/" + q1 + "5.jpg";
  	}
  addComment();

  </script>
