<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
    <form class="Questionnare">
      <table>
        <tr>
          <td class="right-text">Would you like to upgrade to a 2-bed?</td>
          <td><input type='checkbox' name="2bed"></td>
        </tr>
        <tr>
          <td class="right-text">3-bed?</td>
          <td><input type="checkbox" name="3bed"></td>
        </tr>
        <tr>
          <td class="right-text">Will you travel between March and August?</td>
          <td><input type="checkbox" name="peek"></td>
        </tr>
      </table>
    </form>


    <div id="rotating-item-wrapper" class="Q-img">
     <img class="rotating-item shadow Q-img" src="/images/ireland/ireland1.jpg"/>
     <img class="rotating-item shadow Q-img" src="/images/ireland/ireland2.jpg"/>
     <img class="rotating-item shadow Q-img" src="/images/ireland/ireland3.jpg"/>
     <img class="rotating-item shadow Q-img" src="/images/ireland/ireland4.jpg"/>
     <img class="rotating-item shadow Q-img" src="/images/ireland/ireland5.jpg"/>
     <div class="Q-text">Your Chosen Destination</div>
    </div>

      <a id="trigger"><img class="thumbpic darken" src="/images/ThumbsUp.jpg"></a>
    </div>
  </div>
