<html>
  <body>
    <div class="mainpage">
      <div>
        <img class="mainpic" src="images/Homepage.jpg">
      </div>
      <div class="sublink">
        <img class="subpic" src="images/Homepage.jpg">
      </div>
      <div class="sublink">
        <img class="subpic" src="images/Homepage.jpg">
      </div>
      <div class="sublink">
        <img class="subpic" src="images/Homepage.jpg">
      </div>
      <div class="sublink">
        <img class="subpic" src="images/Homepage.jpg">
      </div>
    </div>
  </body>
</html>
