<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>
      <h1><span id="hheader">Owner Calculator</span></h1>
      <table id="questiontable">
        <tr>
          <td id="gc1" class="surveytext owner">What are the yearly maintenance fees?</td>
        </tr>
        <tr>
          <td id="gc2" class="surveytext ">What is your yearly exchange membership fee?</td>
        </tr>
        <tr>
          <td id="gc3" class="surveytext ">How much do you spend on exchange fees?</td>
        </tr>
        <tr>
          <td id="gc4" class="surveytext ">How many years do you plan on traveling?</td>
        </tr>
        <tr>
          <td id="gc5" class="surveytext ">How much will maintenance fees increase yearly?</td>
        </tr>
      </table>

<div id="reviewbox">
      <div id="reviewleft" class="fadeinout">
        <h3 id="getdate" class="surveyhprint"></h3>
      <table>
          <tbody>
            <tr>
              <td id="gs1" class="remixer"></td>
              <td id="survey1" class="surveytext setwidth"></td>
            </tr>
            <tr>
              <td id="gs2" class="remixer"></td>
              <td id="survey2"class="surveytext setwidth"></td>
            </tr>
            <tr>
              <td id="gs3" class="remixer"></td>
              <td id="survey3"  class="surveytext setwidth"></td>
            </tr>
            <tr>
              <td id="gs4" class="remixer"></td>
              <td id="survey4"  class="surveytext setwidth"></td>
            </tr>
            <tr>
              <td id="gs5" class="remixer"></td>
              <td id="survey5"  class="surveytext setwidth"></td>
            </tr>
          </tbody>
      </table>
    </div>

    <div id="reviewrighta" class"reviewowner fadeinout">
      <table>
        <tr>
          <td class="largetext basictext">Annual Maintenance Fees: </td>
          <td id="ownermaintenance" class="ownermoney largetext"></td>
          <td id="totalyears" class="ownermoney largetext"></td>
        </tr>
        <tr>
          <td class="smalltext basictext" id="interestperyear"></td>
        </tr>
        <tr>
          <td class="largetext basictext smalldown">Exchange Fees: </td>
          <td id="ownerexchange" class="ownermoney largetext smalldown"></td>
          <td id="totalyears2" class="ownermoney largetext smalldown"></td>
        </tr>
        <tr>
          <td class="smalltext basictext">yearly and membership</td>
        </tr>
        <tr>
          <td class="supertext basictext largedown">Total Fees</td>
          <td class="supertext ownermoney largedown" id="totalowner"></td>
        </tr>
      </table>
    </div>
</div>
    <%- partial('../Shared/_display_buttons.ejs') %>

  </div>
</div>

<% block('localScripts', '<script src="/page_js/survey.js"></script>') %>
