<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>

      <div class="divHomeLinks">
        <a href="/Survey"><div class="darken shadow spin"><img src="/images/skilodge.jpg"></div></a>
        <span class="hiddentext">Vacation Calculator</span>
      </div>

      <div class="divHomeLinks">
        <a href="/Planning"><div class="darken shadow spin"><img src="/images/luau.jpg"></div></a>
        <span class="hiddentext">Star Credits</span>
      </div>

      <div class="divHomeLinks">
        <a href="/Owner"><div class="darken shadow spin"><img src="/images/yurts.jpg"></div></a>
        <span class="hiddentext">Owner Calculator</span>
      </div>

      <div class="divHomeLinks">
        <a href="/ExpressWays"><div class="darken shadow spin"><img src="/images/london.jpg"></div></a>
        <span class="hiddentext">Expressway Weeks</span>
      </div>

  </div>
</div>
