<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>

      <div class="divHomeLinks darken shadow spin">
        <a href="/Survey"><div><img src="/images/calculator.png"></div></a>
        <span class="hiddentext">Vacation Calculator</span>
      </div>

      <div class="divHomeLinks darken shadow spin">
        <a href="/Owner"><div><img src="/images/owner.jpg"></div></a>
        <span class="hiddentext">Owner Calculator</span>
      </div>

      <div class="divHomeLinks darken shadow spin">
        <a href="/Planning"><div><img src="/images/starcredit.png"></div></a>
        <span class="hiddentext">Star Credits</span>
      </div>

      <div class="divHomeLinks darken shadow spin">
        <a href="/ExpressWays"><div><img src="/images/expressway.png"></div></a>
        <span class="hiddentext">Expressway Weeks</span>
      </div>

  </div>
</div>
