<div class="homepage">
  <div class="homelink">
    <a href="/Survey"><img class="subpic" src="skilodge.jpg"></a>
    <div class="hiddentext">Guest Survey</div>
  </div>

  <div class="homelink">
    <a href="/Survey"><img class="subpic" src="/images/luau.jpg"></a>
    <div class="hiddentext">Vacation Planning</div>
  </div>

  <div class="homelink">
    <a href="/Survey"><img class="subpic" src="/images/yurts.jpg"></a>
    <div class="hiddentext">Accommodations</div>
  </div>

  <div class="homelink">
    <a href="/Survey"><img class="subpic" src="/images/london.jpg"></a>
    <div class="hiddentext">HelpLine</div>
  </div>
</div>

<script type="text/javascript" src="/js/home.js"></script>
