<div class="homepage">
  <div class="center-frame">
    <div class="semi-transparent-background"></div>

    <div class="surveytext ceneter-text" id="divWelcomeText">
      <div class="center-text-vertically">Global Discovery Vacations<br />
      - Click anywhere to begin -</div>
    </div>
  </div>
</div>

<% block('localScripts', '<script src="/page_js/surveyhome.js"></script>') %>
