#divSurveyScreen {
  .homelink {
    padding: 15px 20px 15px 20px;
    float:left;
    text-align: center;
  }

  #divWelcomeText {
      width: 100%;
      height: 100%;
  }

  .ceneter-text {
    text-align: center;
  }

  .center-text-vertically {
    display: inline-block;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    line-height: normal;
  }

  body {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .homeicon {
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 50px;
  }

  .planlink {
    margin: 0px 35px 25px 25px;
    float:left;
    text-align: center;
    border: 1px #bbbbbb solid;
    height: 350px;
    width: 300px;
    font-style: : cursive cursive ariel;
  }

  .planpic {
    float: bottom;
    height: 275px;
    width: 290px;
    border: 1px black solid;
    margin-left: -332px;
    margin-top: 15px;
  }

  img.subpic {
    float: bottom;
    height: 250px;
    width: 450px;
    border-radius: 175px;
    -webkit-border-radius: 175px;
    -moz-border-radius: 175px;
  }

  img.shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 3);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 3);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 3);
  }

  img.darken:hover {
    -webkit-filter: brightness(30%);
    filter: brightness(30%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  img.back{
    z-index:-1;
  }

  #rotating-item-wrapper {
      position: relative;
      width: 980px;
      height: 347px;
  }

  .rotating-item {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
  }

  .thumbpic {
    border-radius: 50%;
    position: absolute;
    bottom: 70px;
    right: 10px;
    /*top: 60%;
    left: 70%;*/
  }

  .surveykeys {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 80px;
    /*top: 50%;
    left: 60%;*/
  }

  .newClass{visibility: hidden}

  .permhidden {visibility: hidden}

  .arrow {
    border-radius: 50%;
  }

  .arrow:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
  }

  #surveyvalue {
    font-size: 30px;
    width: 150px;
    float:center;
    text-align: center;
    font-family: impact, Geneva, serif;
  }

  .hiddentext{
    font-size: 35px;
    color: #007700;
    font-weight: bold;
    font-family: Verdana, Geneva, serif;
    font-style: italic;
    text-shadow: 2px 2px #000000;
  }

  .surveytext{
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    font-family: Verdana, Geneva, serif;
    font-style: italic;
    text-shadow: 2px 2px #000000;
  }

  .plantext{
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    font-family: cursive, Geneva, serif;
    font-style: italic;
    text-shadow: 2px 2px #000000;
    margin-top: -350px;
    margin-left: 75px;
  }

  .Questionnare {
    margin: 60px 60px 60px 350px;
  }

  .Q-text {
    font-size: 20px;
    color: #007700;
    font-weight: bold;
    font-family: Verdana, Geneva, serif;
    font-style: italic;
    text-shadow: 2px 2px #000000;
    margin-top: 10px;
    margin-left: 10px;
  }

  .Q-img {
    width: 850px;
    height: 490px;
    position: absolute;
    bottom: 0;
    margin-top: -15px;
    border-radius: 10px;
  }

  .right-text {
    text-align: right;
  }

  form {
    margin-left: auto;
    margin-right:auto;
    font-size: 50px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  input {
    border: none;
  }

  input:focus {
    border: none;
  }

  .setwidth {
    margin-left: 30px;
    text-align: center;
  }

  .center-frame {
    display: block;
    z-index: 200 !important;
    border: solid 2px #C19A6B;
    border-radius: 1em;
  }

  .semi-transparent-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1 !important;
    border-radius: 1em;
    opacity: 0.6;
  }

  .shadowrotate:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, 3);
    -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, 3);
    -moz-box-shadow: 0 0 45px rgba(0, 0, 0, 3);
    margin-right: 20px;
  }

  .spin {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }

  .tilt {
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }

  .tilt:hover {
    -webkit-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
         -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  
  .spin:hover {
    radius-border: 25%;
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
         -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
